#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <180>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <180>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

/ {

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <11 10 12>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <11 12 13>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        backtab {
            bindings = <&kp LS(TAB)>;
            key-positions = <10 11>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <6 7 8>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <7 8 9>;
        };

        pg_up {
            bindings = <&kp PG_UP>;
            key-positions = <15 18>;
        };

        pg_dn {
            bindings = <&kp PG_DN>;
            key-positions = <25 28>;
        };

        lmb {
            bindings = <&mkp MB1>;
            key-positions = <26 27>;
        };

        rmb {
            bindings = <&mkp MB2>;
            key-positions = <26 28>;
        };

        mb3 {
            bindings = <&mkp MCLK>;
            key-positions = <26 28 27>;
        };

        mb4 {
            bindings = <&mkp MB4>;
            key-positions = <26 25>;
        };

        mb5 {
            bindings = <&mkp MB5>;
            key-positions = <26 27>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <34 13>;
        };

        bspc {
            bindings = <&kp BSPC>;
            key-positions = <34 12>;
        };

        period {
            bindings = <&kp PERIOD>;
            key-positions = <18 19>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <18 19 16>;
        };

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <18 16 17>;
        };

        comma {
            bindings = <&kp COMMA>;
            key-positions = <18 17>;
        };

        apos {
            bindings = <&kp APOS>;
            key-positions = <7 18>;
        };

        dqt {
            bindings = <&kp DQT>;
            key-positions = <6 18>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <25 26>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <16 15>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <16 15 17>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <5 6>;
        };

        lbrac {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <36 6>;
        };

        rbrac {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <36 7>;
        };

        lparen {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <36 16>;
        };

        rparen {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <36 17>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <26 17 8>;
        };

        bslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <6 17 28>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <16 7 18>;
        };

        less {
            bindings = <&kp LT>;
            key-positions = <7 16>;
        };

        more {
            bindings = <&kp GT>;
            key-positions = <6 17>;
        };

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <16 9>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <16 5>;
        };

        percent {
            bindings = <&kp PERCENT>;
            key-positions = <6 28>;
        };

        exclamation {
            bindings = <&kp EXCL>;
            key-positions = <1 2 13>;
        };

        question {
            bindings = <&kp QMARK>;
            key-positions = <11 12 3>;
        };

        money {
            bindings = <&kp DOLLAR>;
            key-positions = <22 21 3>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <4 13 12>;
        };

        and {
            bindings = <&kp AMPS>;
            key-positions = <14 12>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <24 23 22>;
        };

        hash {
            bindings = <&kp HASH>;
            key-positions = <4 3 2>;
        };

        scroll {
            bindings = <&tog 5>;
            key-positions = <26 37 27>;
        };
    };

macros {
};
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "BASE";
            bindings = <
&mt LALT B      &kp F           &kp L         &kp K      &kp Q                         &kp G    &kp Y      &kp O       &kp U        &kp P
&mt LGUI N      &kp S           &kp H         &kp T      &kp M                         &kp W    &kp C      &kp I       &kp A        &kp E
&mt LSHFT X     &kp V           &kp J         &kp D      &kp Z                         &mkp MB3 &mkp MB1   &mkp MB2    &mkp MB4     &mkp MB5
&mt LCTRL COMMA &mt SEMI PERIOD &mt SQT SLASH &lt 6 BSPC &lt 5 R &mt LSHFT SPACE       &tog 1   &tog 2                              &mo 3
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5
&kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0       &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&kp LCTRL     &kp LALT      &kp LGUI      &kp LSHFT        &none              &none      &kp LSHFT     &kp LGUI      &kp LALT      &kp LCTRL
&trans        &trans         &trans    &trans   &trans             &trans  &trans  &trans                                          &trans
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT                  &kp CARET       &kp AMPERSAND  &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&bt BT_CLR       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans                       &kp MINUS       &kp EQUAL      &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp SQT
&trans           &trans        &trans        &trans        &trans                       &kp UNDERSCORE  &kp PLUS       &trans            &trans                &kp NON_US_BACKSLASH
&trans           &trans        &trans        &trans        &trans       &trans  &trans  &trans                                                                 &trans
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &kp C_VOL_UP            &kp C_BRI_UP   &studio_unlock  &sys_reset  &bootloader  &none
&kp F5  &kp F6   &kp F7   &kp F8   &kp C_VOL_DN            &kp C_BRI_DN   &bt BT_CLR      &none       &none        &none
&kp F9  &kp F10  &kp F11  &kp F12  &kp C_MUTE              &kp C_PP       &none           &none       &none        &none
&trans  &trans   &trans   &trans   &trans  &trans  &trans  &trans                       &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&kp N1          &kp N2          &kp N3        &kp N4     &kp N5                  &kp N6         &kp N7     &kp N8  &kp N9     &kp N0
&kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &none                   &kp PAGE_UP    &mkp LCLK  &mkp MCLK   &mkp RCLK  &none
&kp LCTRL       &kp LALT        &kp LGUI      &kp LSHFT  &none                   &kp PAGE_DOWN  &mkp MB4   &mkp MB5    &none      &none
&none           &trans          &trans        &trans     &trans  &trans  &trans  &mo 3                                        &none
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &bootloader                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans                          &trans
            >;
        };
    };
};
